// common
$success: #10A426;
$success-light: #0FAC27;
$success-blue: #5092E1;
$danger: #FF4058;
$warning: #FFB039;

// light
$light-primary: #FFFFFF;
$light-secondary: #F5F5F5;

// dark
$dark-primary: #000000;

// background
$light-main-bg: $light-primary;
$light-additional-bg: $light-secondary;
$light-block-main-bg: #F2F2F2;
$light-extra-bg: #F3F3F3;
$dark-main-bg: $dark-primary;

// text
$light-text-color: $dark-primary;
$light-additional-text-color: #737373;
$light-additional-2-text-color: #9E9E9E;
$light-extra-text-color: #AFAFAF;
$dark-extra-text-color: #AFAFAF;
$dark-text-color: $light-primary;

// additional
$light-additional: #D5D5D5;
$light-additional-2: #E3E3E3;


$indigo: #b0c5f5;
$indigo-deep: #618ef3;
$blue: #c8dff7;
$lightblue: #e5ecfc;
$teal: #8ac8bb;
$lightpurple: #cabdf6;
$pink: #f4caca;
$yellow: #f7f3c3;
$bisque: #f2dabc;
$purple: #d4b2dd;
$palegreen: #d4fdc6;
$cyan: #bef6ea;
$checked-color: #e0e1e1;
$whitesmoke: whitesmoke;

$shadow-color: rgba(0, 0, 0, 0.12);
