<div class="wrapper">
  <configurator-menu-item
    [icon]="'/assets/img/left-panel/flat-ico.svg'"
    link="configurator/flat"
    title="Моя квартира"
  >
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'/assets/left-panel/settings-ico.svg'"
    link="configurator/options"
    title="Тип ремонта и опции"
  >
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'/assets/img/left-panel/file-ico.svg'"
    link="configurator/materials"
    title="Перечень работ и материалов"
  >
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'/assets/img/left-panel/project-ico.svg'"
    link="configurator/project"
    title="Технический проект"
  >
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'/assets/img/left-panel/repair-ico.svg'"
    link="configurator/repair"
    title="Ремонт"
  >
  </configurator-menu-item>
</div>
