@font-face {
    font-family: 'Graphic LCG';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../../assets/fonts/Graphic_LCG/regular/GraphikLCG-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Graphic_LCG/regular/GraphikLCG-Regular.woff') format('woff'),
  }
  
  @font-face {
    font-family: 'Graphic LCG';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../assets/fonts/Graphic_LCG/medium/GraphikLCG-Medium.woff2') format('woff2'),
      url('../../assets/fonts/Graphic_LCG/medium/GraphikLCG-Medium.woff') format('woff'),
  }
  
  @font-face {
    font-family: 'Graphic LCG';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../../assets/fonts/Graphic_LCG/bold/GraphikLCG-Bold.woff2') format('woff2'),
      url('../../assets/fonts/Graphic_LCG/bold/GraphikLCG-Bold.woff') format('woff'),
  }