// @import './google-fonts';
@import 'custom-fonts';
@import 'mixins';

// base font styles

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 14px;
  font-family: $font-family !important;
}

input {
  &::shadow {
    div {
      font-family: $font-family !important;
    }
  }
}

h1,
h2,
h3,
h4 {
  margin: 0; // не менять, рушит верстку
}

// heads

h1,
.heading-1 {
  @include heading-1-font-styles();
}

h2,
.heading-2 {
  @include heading-2-font-styles();
}

h3,
.heading-3 {
  @include heading-3-font-styles();
}

h4,
.heading-4 {
  @include heading-4-font-styles();
}

.heading-1-special {
  @include heading-1-special-font-styles();
}

.heading-2-special {
  @include heading-2-special-font-styles();
}

.heading-3-special {
  @include heading-3-special-font-styles();
}

.heading-4-special {
  @include heading-4-special-font-styles();
}

// subtitles

.subtitle-1 {
  @include subtitle-1-font-styles();
}

.subtitle-2 {
  @include subtitle-2-font-styles();
}

.subtitle-3 {
  @include subtitle-3-font-styles();
}

.subtitle-4 {
  @include subtitle-4-font-styles();
}

.subtitle-2-special {
  @include subtitle-2-special-font-styles();
}

.subtitle-3-special {
  @include subtitle-3-special-font-styles();
}

.subtitle-4-special {
  @include subtitle-4-special-font-styles();
}

.app-text-link {
  cursor: pointer;
  text-decoration: underline;

  &--not-underline {
    text-decoration: none;
  }

  &--disabled {
    cursor: default;
    text-decoration: none;

    pointer-events: none;
  }
}

.app-text-truncate {
  @include text-truncate();
}

.app-text-capitalize {
  text-transform: capitalize;
}

.app-text-not-capitalize {
  text-transform: none;
}

.app-text-white-space-pre {
  white-space: pre;
}

.app-text-white-space-nowrap {
  white-space: nowrap;
}

.app-text-first-letter-up {
  @include first-letter-up();
}
