@import '/src/styles/typography/mixins';
@import '/src/styles/theming/functions';

$success-color: app-color(success-color);
$success-color-80: app-color(success-color, 0.8);
$success-blue-color: app-color(success-blue-color);
$success-blue-color-80: app-color(success-blue-color, 0.8);
$warning-color: app-color(warning-color);
$warning-color-65: app-color(warning-color, 0.65);
$danger-color: app-color(danger-color);
$danger-color-75: app-color(danger-color, 0.75);
$text-color: app-color(text-color);
$text-static-color: app-color(text-static-color);
$text-link-color: app-color(text-link-color);
$bg-color: app-color(bg-additional-color);
$bg-color-10: app-color(bg-additional-color, 0.1);
$bg-color-25: app-color(bg-additional-color, 0.25);
$bg-color-65: app-color(bg-additional-color, 0.65);

.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  min-width: 50px;
  padding: 8px;

  @include button-text-font-styles();

  &__button {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    background: transparent;
    border: none;
    color: inherit;
    cursor: inherit;

    @include inherit-font-styles();
  }

  &:hover:not([disabled='true']) {
    cursor: pointer;
  }

  &[disabled='true'] {
    opacity: 0.25;
    pointer-events: none;
  }

  &--large {
    height: 28px;
    border-radius: 6px;
    min-width: 100px;
  }

  &--default {
    height: 24px;
    border-radius: 4px;

    @include button-text-2-font-styles();
  }

  &--primary {
    color: $text-static-color;
    background-color: $bg-color;

    &:hover {
      background-color: $bg-color-65;
    }
  }

  &--secondary {
    color: $text-color;
    background-color: $bg-color-10;

    &:hover:not([disabled='true']) {
      background-color: $bg-color-25;
    }
  }

  &--danger {
    color: $text-static-color;
    background-color: $danger-color;

    &:hover:not([disabled='true']) {
      background-color: $danger-color-75;
    }
  }

  &--success {
    color: $text-static-color;
    background-color: $success-color;

    &:hover:not([disabled='true']) {
      background-color: $success-color-80;
    }
  }

  &--success-blue {
    color: $text-static-color;
    background-color: $success-blue-color;

    &:hover:not([disabled='true']) {
      background-color: $success-blue-color-80;
    }
  }

  &--warning {
    color: $text-static-color;
    background-color: $warning-color;

    &:hover:not([disabled='true']) {
      background-color: $warning-color-65;
    }
  }
}

